<% include partials/header %>
<div class="container">
    <h1>Sign Up for best Services</h1>
    
    <div class="row">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input  class="form-control"type="text" name= "username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name= "password" placeholder="password">
                </div>
                <button class="btn btn-lg btn btn-info"> Sign Up</button>
            </form>
          
            <a href="/campgrounds"> Go back to Campgrounds</a>
    </div>
    
   
</div>



<% include partials/footer %>